<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <ul>
        <li>@Html.ActionLink("Home","Index","Home")</li>
        <li>@Html.ActionLink("My Profile", "MyProfile", "Home")</li>
        <li>
        @if (Request.IsAuthenticated) {
            using (Html.BeginForm("Logout", "MyAccount", FormMethod.Post, new { id = "logoutForm" }))
            { 
            <a href=" javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
        }
        else
        {
            @Html.ActionLink("Login", "llgin", "MyAccount")
        }
            
        </li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
